<!DOCTYPE html>
<html lang="es-MX">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <% if (htmlWebpackPlugin.options.description) { %><meta name="description" content="<%= htmlWebpackPlugin.options.description %>"><% } %>
    <% if (htmlWebpackPlugin.options.keywords) { %><meta name="keywords" content="<%= htmlWebpackPlugin.options.keywords %>"><% } %>
    <% if (htmlWebpackPlugin.options.robots) { %><meta name="robots" content="noindex" /><% } %>
    <% if (htmlWebpackPlugin.options.schema) { %><script type="application/ld+json"> <%= htmlWebpackPlugin.options.schema %></script><% } %>
    <link rel="canonical" href="<%= process.env.DOMAIN %><%= htmlWebpackPlugin.options.canonical %>"/>

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= process.env.DOMAIN %><%= htmlWebpackPlugin.options.filename %>">
    <meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>">
    <meta property="og:description" content="<%= htmlWebpackPlugin.options.description %>">
    <meta property="og:site_name" content="<%= process.env.SITE_NAME %>"/>
    <% if (htmlWebpackPlugin.options.image) { %><meta property="og:image" content="<%= htmlWebpackPlugin.options.image %>"><% } %>

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="<%= process.env.DOMAIN %><%= htmlWebpackPlugin.options.filename %>">
    <meta property="twitter:title" content="<%= htmlWebpackPlugin.options.title %>">
    <meta property="twitter:description" content="<%= htmlWebpackPlugin.options.description %>">
    <% if (htmlWebpackPlugin.options.image) { %><meta property="twitter:image" content="<%= htmlWebpackPlugin.options.image %>"><% } %>
    
    <link rel="icon" href="">
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
